

tr {
  width: 100%;
  display: inline-table;
  table-layout: fixed;
}

table {
  display: -moz-groupbox; 
}

tbody {
  margin-top: 15px;
  overflow-y: scroll;
  height: 250px; 
  width: 95.5%;
  position: absolute;
}
