tr {
  width: 100%;
  display: inline-table;
  table-layout: fixed;
}

table {
  height: 100%; 
  display: -moz-groupbox; 
}

tbody {
  overflow-y: scroll;
  height: 270px; 
  width: 100%;
  position: absolute;
}

.searchAdvand tbody {
  overflow-y: scroll;
  height: 200px;
  width: 100%;
  position: absolute;
}

input {
    height: 50px;
    padding: 0 10px;
}

input::-webkit-input-placeholder {

    font-size: 20px;
    line-height: 6;
}
