<app-content>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card-body card-header btn-orange active text-white">
          <h3> <span class="fas fa-exclamation-circle"></span> <b> รายการสินค้าใกล้หมดอายุ</b> <span class="pull-right"></span></h3>
        </div>
        <div class="card card-body printableArea" *ngIf="Products">
          <hr>
          <div class="row">
            <div class="col-md-12">
              <div class="card-body">
                <div class="row">
                  <div class="col-9">
                    <div class="search input-field m-t-0 m-b-0">
                      <input [(ngModel)]="search_Text" type="text" class="form-control" placeholder=" {{ search_Type.value}}"
                        class="form-control border-0" placeholder="ค้นหาข้อมูลสินค้า" autofocus>
                    </div>
                  </div>
                  <div class="col-lg-1 text-right">
                    <a (click)="search_Text = null;" class="btn btn-secondary btn-lg float-right"
                      href="javascript:void(0)"><span class="mdi mdi-backspace mdi-18px"></span></a>
                  </div>
                  <div class="col-2">
                    <a (click)="onClickSearch()" class="btn-cyan  btn-lg float-right text-white" href="javascript:void(0)"><i
                        class="fas fa-search">
                        ค้นหา</i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <div class="table-responsive m-t-40" style="clear: both;">
                <table class="table table-striped" style=" height: 350px; ">
                  <thead>
                    <tr>
                      <th>
                        <h5> ลำดับ </h5>
                      </th>
                      <th>
                        <h5>รหัสแท่ง </h5>
                      </th>
                      <th>
                        <h5>รูปสินค้า </h5>
                      </th>
                      <th>
                        <h5>ชื่อสินค้า </h5>
                      </th>
                      <th>
                        <h5>วันหมดอายุ </h5>
                      </th>
                      <th>
                        <h5>เครื่องมือ </h5>
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of Products.product_List; let i = index">
                      <td>
                        <p>{{ i + 1 }}</p>
                      </td>
                      <td class="hidden-phone"> {{item.barcode}} ({{ item.barcode_Custom }}) </td>
                      <td>image</td>
                      <td>{{item.name}}</td>
                      <td>{{item.expired | date: 'medium'}} ( {{getTimeRemaining(item.expired)}} )</td>
                      <td>
                        <a class="btn btn-success btn-xs" [routerLink]="[ '/', AppUrl.Product, ProductUrl.DetailProduct, item.id ]"><i
                            class="fa fa-pencil">details</i></a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="row col-lg-12">
            <h5>จำนวนสินค้าทั้งหมด {{Products.product_Total}} รายการ</h5>
          </div>
          <pagination [(ngModel)]="start_Page" [itemsPerPage]="limit_Page" (pageChanged)="onPageChanged($event)"
            [rotate]="false" [maxSize]="10" previousText="หน้าก่อนหน้า" nextText="หน้าถัดไป" [totalItems]="Products.product_Total"></pagination>
        </div>
      </div>
    </div>
  </div>
</app-content>