<app-content>
  <div class="page-breadcrumb">
    <div class="row">
      <div class="col-12 d-flex no-block align-items-center">
        <div class="ml-auto text-left">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">หน้าร้าน</a></li>
              <li class="breadcrumb-item active" aria-current="page">หน้าขายสินค้า</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="card card-body printableArea">
          <h3><b>แก้ไขรายละเอียดสินค้า</b> <span class="pull-right"></span></h3>
          <hr>
          <div class="card-body row">
            <div class="col-md-2">
              <div class="card-body">
                <span *ngIf="!Product.image && !form.value.image" class="fas fa-box fa-7x"></span>
                <img *ngIf="Product.image && !form.value.image_Url" [src]="Product.image" class="img-fluid img-thumbnail" alt="Responsive image">
                <img *ngIf="form.value.image_Url" [src]="form.value.image_Url" class="img-fluid img-thumbnail" alt="Responsive image">
              </div>
            </div>
            <div class="card-body col-lg-9">
              <form class="form-horizontal" [formGroup]="form" (submit)="onUpdateProduct()">
                <div class="form-group row">
                  <label for="fname" class="col-sm-2 text-right control-label col-form-label">รูปสินค้า</label>
                  <div class=" col-sm-9">
                    <input type="file" class="file-input" (change)="onCovertImage(inputImage)" #inputImage>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="fname" class="col-sm-2 text-right control-label col-form-label">รหัสแท่ง</label>
                  <div class="col-sm-9">
                    <input class=" form-control" formControlName="barcode" type="text" />
                  </div>
                </div>
                <div class="form-group row">
                  <label for="lname" class="col-sm-2 text-right control-label col-form-label">รหัสธรรมดา</label>
                  <div class="col-sm-7">
                    <input class=" form-control" formControlName="barcode_Custom" type="text" />
                  </div>
                  <div class="col-sm-2">
                    <button type="button" class="btn btn-md btn-outline-info">สุ่มรหัส</button>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="lname" class="col-sm-2 text-right control-label col-form-label">ชื่อสินค้า</label>
                  <div class="col-sm-9">
                    <input class="form-control" formControlName="name" type="text" />
                  </div>
                </div>
                <div class="form-group row">
                  <label for="email1" class="col-sm-2 text-right control-label col-form-label">รายละเอียดสินค้า</label>
                  <div class="col-sm-9">
                    <textarea class="form-control " formControlName="description"></textarea>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="cono1" class="col-sm-2 text-right control-label col-form-label">วันหมดอายุ </label>
                  <div class="col-sm-9">
                    <div class="input-group">
                      <input type="text" class="form-control datepicker-orient-top" placement="top" id="datepicker-autoclose"
                        formControlName="expired" placeholder="mm/dd/yyyy" bsDatepicker>
                      <div class="input-group-append">
                        <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                </div>

                <div class="form-group row">
                  <label for="cono1" class="col-sm-2 text-right control-label col-form-label">จำนวนสินค้า </label>
                  <div class="col-sm-2">
                    <input type="text" class="form-control" formControlName="amount_Product" id="cono1" placeholder="">
                  </div>
                  <label for="cono1" class="col-sm-2 text-right control-label col-form-label">หน่วยสินค้า </label>
                  <div class="col-lg-1">
                    <div class="btn-group" dropdown>
                      <button dropdownToggle type="button" class="btn btn-md btn-outline-info dropdown-toggle"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{typeSelected.value}}
                        <span class="caret"></span>
                      </button>
                      <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
                        <li role="menuitem" *ngFor="let item of typeItem">
                          <a class="dropdown-item" (click)="typeSelected = item">{{ item.value }}</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <label for="cono1" class="col-sm-2 text-right control-label col-form-label">หมวดหมู่สินค้า </label>
                  <div class="col-lg-1">
                    <div class="btn-group" dropdown>
                      <button dropdownToggle type="button" class="btn btn-md btn-outline-info dropdown-toggle"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ categorySelected.value }}
                        <span class="caret"></span>
                      </button>
                      <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
                        <li role="menuitem" *ngFor="let item of categoryItem">
                          <a class="dropdown-item" (click)="categorySelected = item">{{ item.value }}</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="cono1" class="col-sm-2 text-right control-label col-form-label">ราคาทุน </label>
                  <div class="col-sm-4">
                    <input class="form-control" formControlName="cost_Product" type="text" />
                  </div>
                  <label for="cono1" class="col-sm-2 text-right control-label col-form-label">ราคาขาย </label>
                  <div class="col-sm-3">
                    <input class="form-control" formControlName="price" type="text" />
                  </div>
                </div>
                <div class="form-group row">
                  <label for="cono1" class="col-sm-2 text-right control-label col-form-label">สถานะสินค้า </label>
                  <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                    <button aria-pressed="false" autocomplete="off" [ngClass]="{'active': statusProduct === 'true', 'unactive': statusProduct === 'false'}"  type="button" class="btn btn-md btn-secondary btn-toggle" data-toggle="button" >
                      <div class="handle"></div>
                    </button>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="cono1" class="col-sm-2 text-right control-label col-form-label"></label>
                  <div class="col-sm-3">
                    <button class="btn btn-info btn-lg" type="submit">บันทึกข้อมูลสินค้า</button>
                  </div>
                  <div class="col-sm-1">
                    <button type="button" class="btn btn-info btn-lg">กลับ</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-content>