<app-content>
  <div class="page-breadcrumb">
    <div class="row">
      <div class="col-2 d-flex no-block align-items-center">
        <div class="ml-auto text-left">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">หน้าร้าน</a></li>
              <li class="breadcrumb-item active" aria-current="page">หน้าขายสินค้า</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <div class="row">
      <div class="col-lg-12">
        <div class="card-body card-header btn-secondary active text-white">
          <h3> <span class="fas fa-file-alt"></span> <b> รายละเอียดใบเสร็จ</b> <span class="pull-right"></span></h3>
        </div>
        <div class="card card-body printableArea">
            <div class="row">
              <div class="col-9">
                <div class="search input-field m-t-0 m-b-0">
                  <input [(ngModel)]="salesBillId" class="form-control border-0" placeholder="ค้นหาเลขที่ใบเสร็จ" autofocus>
                </div>
              </div>
              <div class="col-lg-1">
                <a (click)="searchValueSelected = null" class="btn-twitter btn-warning btn-lg float-right text-white" href="javascript:void(0)"><i
                    class="mdi mdi-backspace"></i></a>
              </div>
              <div class="col-2">
                <a (click)="onSearch() " class="btn-warning  btn-lg float-right text-white" href="javascript:void(0)"><i class="fas fa-search">
                    ค้นหา</i></a>
              </div>
            </div>
          <div class="card-body row">

            <div class="col-lg-1"></div>
            <div class="col-lg-10 row">
              <div class="card-body col-lg-12">
                <h2> เลขที่ใบเสร็จ : {{salesBill.id}} <small>#{{onGetStatsuSalesString(salesBill.status)}}</small></h2>
                <h3> เจ้าหน้าที่ขาย : {{salesBill.member.username}}</h3>
                <h3> ยอดรวม : {{salesBill.total_Price}}</h3>
                <h3> ยอดชำระ : {{salesBill.payment}} </h3>
                <h3> เวลาขาย : {{salesBill.sales_Time | date:'medium'}}</h3>
                <h3 *ngIf="salesBill.status == false"> เวลายกเลิกบิล : {{salesBill.cancelSales_Time |
                  date:'medium'}} <small>({{salesBill.memberCancelBill}})</small> </h3>
              </div>
              <div class="card-body col-lg-12">
                <div class="table-responsive m-t-40" style="clear: both;">
                  <table class="table table-striped" style=" height: 350px; ">
                    <thead>
                      <tr>
                        <th>
                          <h5>ลำดับ</h5>
                        </th>
                        <th>
                          <h5>รายการสินค้า </h5>
                        </th>
                        <th>
                          <h5> จำนวน </h5>
                        </th>
                      </tr>
                    </thead>
                    <tbody *ngIf="salesBill">
                      <tr *ngFor="let item of salesBill.sales_List; let i = index;">
                        <td>{{i+1}}</td>
                        <td><a [routerLink]="[ '/', AppUrl.Product, ProductUrl.DetailProduct,  item.productId]">{{item.product.name}}</a></td>
                        <td>{{item.sales_Count}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="card-body col-lg-2">
                <button class="btn btn-lg btn-secondary" type="submit"> <span class="fas fa-angle-left"></span> กลับ
                </button>
              </div>
              <div class="card-body col-lg-3">
                <button class="btn btn-lg btn-outline-secondary" type="submit" (click)="onCancelSalesBill()"> 
                  ยกเลิกใบเสร็จ
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-content>
