
/* .form-panel {
    height: 800px;
} */
.dropdown dropdown-menu {
  margin-left: 10px !important;
  width: 900px !important;
} 

tr {
  width: 100%;
  display: inline-table;
  table-layout: fixed;
}

table {
  margin-bottom: 50px;
  display: -moz-groupbox; 
}

tbody {
  margin-top: 15px;
  overflow-y: scroll;
  height: 250px; 
  width: 97.5%;
  position: absolute;
}

.searchAdvand table {
  /* height: 400px;  */
  margin-bottom: 100px;
  display: -moz-groupbox; 
  padding-bottom: 10%;
}

.searchAdvand tbody {
  overflow-y: scroll;
  height: 200px;
  width: 96.5%;
  position: absolute;
}

input {
    height: 50px;
    padding: 0 10px;
}

input::-webkit-input-placeholder {

    font-size: 20px;
    line-height: 6;
}
