
.form-panel {
    height: 800px;
}

tr {
  width: 100%;
  display: inline-table;
  table-layout: fixed;
}

table {
  height: 400px; 
  margin-bottom: 50px;
  display: -moz-groupbox; 
}

tbody {
  margin-top: 15px;
  overflow-y: scroll;
  height: 400px; 
  width: 96.5%;
  position: absolute;
}

.searchAdvand table {
  height: 400px; 
  margin-bottom: 100px;
  display: -moz-groupbox; 
}
.searchAdvand tbody {
  overflow-y: scroll;
  height: 200px;
  width: 96.5%;
  position: absolute;
}
