<div id="login-page">
  <div class="container">
    <form class="form-login" [formGroup]="form" (submit)="onSubmit()">
      <h2 class="form-login-heading">ลงชื่อเข้าใช้</h2>
      <div class="login-wrap">
        <input type="text" class="form-control" formControlName="Username" placeholder="ชื่อผู้ใช้" autofocus>
        <br>
        <input type="password" class="form-control" formControlName="Password" placeholder="รหัสผ่าน">
        <br>
        <button class="btn btn-theme btn-block" type="submit"><i class="fa fa-lock"></i> เข้าสู่ระบบ</button>
        <hr>
        <div class="registration">
          จำรหัสผ่านได้รึป่าว ?<br />
          <a class="">
            ลืมรหัสผ่าน คลิก
          </a>
        </div>
      </div>
      <!-- Modal -->

      <!-- modal -->
    </form>
  </div>
</div>
