<app-content>
  <div class="">
    <div class="row content-panel">
      <div class="col-md-3 profile-text mt mb centered">
        <div class="right-divider hidden-sm hidden-xs">
          <h4>เข้าใช้ล่าสุด</h4>
          <h6>12/02/2012</h6>
          <h4>แก้ไขเมื่อ</h4>
          <!-- <h6>{{ MemberProfile.updated }}</h6> -->
        </div>
      </div>
      <div class="col-md-4 profile-text" *ngIf="MemberProfile">
        <h2> {{ MemberProfile.username }} </h2>
        <h3> {{ MemberProfile.fristname }} </h3>
        <h6> {{ MemberProfile.lastname }} </h6>
      </div>
      <div class="col-md-4 centered">
        <div class="profile-pic">
          <p><img src="assets/img/ui-sam.jpg" class="img-circle"></p>
          <p>
            <button class="btn btn-theme02">แก้ไขโปรไฟร์</button>
            <button class="btn btn-theme02">เปลี่ยนรหัสผ่าน</button>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="content-panel">
      <div class="panel-heading">
        <ul class="nav nav-tabs nav-justified">
          <li class="active">
            <a data-toggle="tab" href="#contact" class="contact-map">Contact</a>
          </li>
          <li>
            <a data-toggle="tab" href="#edit">Edit Profile</a>
          </li>
          <li>
            <a data-toggle="tab" href="#password">Change Password</a>
          </li>
        </ul>
      </div>
      <!-- /panel-heading -->
      <div class="panel-body">
        <div class="tab-content">
          <!-- /tab-pane -->
          <div id="contact" class="tab-pane active">
            <div class="row">
              <div class="col-md-6">
                <div id="map"></div>
              </div>
              <!-- /col-md-6 -->
              <div class="col-md-6 detailed">
                <h4>Location</h4>
                <div class="col-md-8 col-md-offset-2 mt">
                  <p>
                    Postal Address<br /> PO BOX 12988, Sutter Ave<br /> Brownsville, New York.
                  </p>
                  <br>
                  <p>
                    Headquarters<br /> 844 Sutter Ave,<br /> 9003, New York.
                  </p>
                </div>
                <h4>Contacts</h4>
                <div class="col-md-8 col-md-offset-2 mt">
                  <p>
                    Phone: +33 4898-4303<br /> Cell: 48 4389-4393<br />
                  </p>
                  <br>
                  <p>
                    Email: hello@dashiotheme.com<br /> Skype: UseDashio<br /> Website: http://Alvarez.is
                  </p>
                </div>
              </div>
              <!-- /col-md-6 -->
            </div>
            <!-- /row -->
          </div>
          <!-- /tab-pane -->
          <div id="edit" class="tab-pane">
            <div class="row">
              <div class="col-lg-8 col-lg-offset-2 detailed">
                <h4 class="mb">แก้ไขข้อมูลส่วนตัว</h4>
                <form role="form" class="form-horizontal" [formGroup]="form" (submit)="onSubmitUpdate()">
                  <div class="form-group">
                    <label class="col-lg-2 control-label"> รูปประจำตัว</label>
                    <div class="col-lg-6">
                      <input type="file" id="exampleInputFile" class="file-pos">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-lg-2 control-label">ชื่อผู้ใช้</label>
                    <div class="col-lg-6">
                      <input type="text" placeholder=" " id="c-name" class="form-control" formControlName="username"
                        placeholder="ชื่อผู้ใช้">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-lg-2 control-label">ชื่อ</label>
                    <div class="col-lg-6">
                      <input type="text" placeholder=" " id="c-name" class="form-control" formControlName="fristname"
                        placeholder="ชื่อ">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-lg-2 control-label">นามสกุล</label>
                    <div class="col-lg-6">
                      <input type="text" placeholder=" " id="lives-in" class="form-control" formControlName="lastname"
                        placeholder="นามสกุล">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-md-2"></div>
                    <div class=" col-lg-1">
                      <button class="btn btn-info" type="submit">บันทึก</button>
                    </div>
                    <div class="col-md-1">
                      <button class="btn">ยกเลิก</button>
                    </div>
                  </div>
                </form>
              </div>
              <!-- /col-lg-8 -->
            </div>
            <!-- /row -->
          </div>
          <div id="password" class="tab-pane">
            <div class="row">
              <div class="col-lg-8 col-lg-offset-2 detailed">
                <h4 class="mb">แก้ไขรหัสผ่าน</h4>
                <form role="form" class="form-horizontal" [formGroup]="formPassword" (submit)="onChangePassword()">
                  <div class="form-group">
                    <label class="col-lg-2 control-label">รหัสผ่านเดิม</label>
                    <div class="col-lg-6">
                      <input type="text" id="c-name" placeholder="รหัสผ่านเดิม" class="form-control" formControlName="old_Password">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-lg-2 control-label">รหัสผ่านใหม่</label>
                    <div class="col-lg-6">
                      <input type="text" id="c-name" placeholder="รหัสผ่านใหม่" class="form-control" formControlName="new_Password">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-lg-2 control-label">ยืนยันรหัสผ่าน</label>
                    <div class="col-lg-6">
                      <input type="text" id="lives-in" placeholder="ยืนยันรหัสผ่าน" class="form-control"
                        formControlName="cnew_password">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-md-2"></div>
                    <div class=" col-lg-1">
                      <button class="btn btn-info" type="submit">บันทึก</button>
                    </div>
                    <div class="col-md-1">
                      <button class="btn">ยกเลิก</button>
                    </div>
                  </div>
                </form>
              </div>
              <!-- /col-lg-8 -->
            </div>
            <!-- /row -->
          </div>
          <!-- /tab-pane -->
        </div>
        <!-- /tab-content -->
      </div>
      <!-- /panel-body -->
    </div>
    <!-- /col-lg-12 -->
  </div>
</app-content>
