<app-content>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card-body card-header btn-tumblr active text-white">
          <h3> <span class="fas fa-list-ol"></span> <b> รายการขายสินค้า</b> <span class="pull-right"></span></h3>
        </div>
        <div class="card card-body printableArea">
          <div class="row">
            <div class="col-md-12">
              <div class="card-body">
                <div class="row">
                  <div class="col-6">
                    <div class="search input-field m-t-0 m-b-0">
                      <input [(ngModel)]="search_Text" type="text" class="form-control" placeholder="ค้นหาเลขที่ใบเสร็จ"
                        class="form-control border-0" autofocus>
                    </div>
                  </div>
                  <div class="col-lg-3">
                    <input placeholder="ค้นหาเวลาขาย" type="text" class="form-control btn-lg" [(ngModel)]="dateSearch"
                      bsDaterangepicker #dpr="bsDaterangepicker">
                  </div>
                  <div class="col-lg-1 text-right">
                    <a (click)="search_Text = null; dateSearch = null;" class="btn btn-secondary btn-lg float-right" href="javascript:void(0)"><span
                        class="mdi mdi-backspace mdi-18px"></span></a>
                  </div>
                  <div class="col-2">
                    <a (click)="onClickSearch()" class="btn-cyan  btn-lg float-right text-white" href="javascript:void(0)"><i
                        class="fas fa-search">
                        ค้นหา</i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <div class="table-responsive m-t-40" style="clear: both;">
                <table class="table table-striped" style=" height: 350px; ">
                  <thead>
                    <tr>
                      <th>
                        <h5> ลำดับ </h5>
                      </th>
                      <th>
                        <h5>รหัสใบเสร็จ </h5>
                      </th>
                      <th>
                        <h5>ยอดขายในบิล </h5>
                      </th>
                      <th>
                        <h5>ยอดบำระ </h5>
                      </th>
                      <th>
                        <h5>เวลาขาย </h5>
                      </th>
                      <th>
                        <h5>สถานะบิล </h5>
                      </th>
                      <th>
                        <h5>เจ้าหน้าที่ </h5>
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of salesBill.sales_List; let i = index;">
                      <td>{{i+1}}</td>
                      <td> <a [routerLink]="[ '/', AppUrl.Sales, SalesUrl.DetailSalesBill, item.id ]"> {{item.id}}</a></td>
                      <td>{{item.total_Price}}</td>
                      <td>{{item.payment}}</td>
                      <td>{{item.sales_Time | date:'medium'}}</td>
                      <td>{{onGetStatsuSalesString(item.status)}}</td>
                      <td>{{item.memberId}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="row col-lg-12">
            <h5>จำนวนบิลทั้งหมด {{salesBill.sales_Total}} รายการ</h5>
          </div>
          <pagination [(ngModel)]="start_Page" [itemsPerPage]="limit_Page" (pageChanged)="onPageChanged($event)"
            [rotate]="false" [maxSize]="10" previousText="หน้าก่อนหน้า" nextText="หน้าถัดไป" [totalItems]="salesBill.sales_Total"></pagination>
        </div>
      </div>
    </div>
  </div>
</app-content>