<app-content>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card-body card-header btn-tumblr active text-white">
          <h3> <span class="fas fa-address-card"></span> <b> สามาชิกในระบบทั้งหมด</b> <span class="pull-right"></span></h3>
        </div>
        <div class="card card-body printableArea">
          <br>
          <div class="row">
            <div class="col-lg-12">
              <div class="table-responsive m-t-40" style="clear: both;">
                <table class="table table-striped" style=" height: 350px; ">
                  <thead>
                    <tr>
                      <th>ที่</th>
                      <th class="hidden-phone"> ผู้ใช้งาน</th>
                      <th> ชื่อ-นามสกุล</th>
                      <th> ระดับ</th>
                      <!-- <th><i class=" fa fa-edit"></i> Status</th> -->
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of MemberList.members">
                      <td>
                        <a> {{ item.id }} </a>
                      </td>
                      <td class="hidden-phone"> {{ item.username }} </td>
                      <td> {{ item.fristname }} {{ item.lastname }}</td>
                      <td> {{ getRoleName(item.role) }} </td>
                      <!-- <td><span class="label label-info label-mini"> {{ item.status }} </span></td> -->
                      <td>
                        <a class="btn btn-warning btn-xs" [routerLink]="[ '/', AppUrl.Account, AccountUrl.UpdateMember, item.id ]"><i
                            class="fa fa-pencil">แก้ไข</i></a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-content>