<app-content>
  <div class="page-breadcrumb">
    <div class="row">
      <div class="col-2 d-flex no-block align-items-center">
        <div class="ml-auto text-left">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">หน้าร้าน</a></li>
              <li class="breadcrumb-item active" aria-current="page">หน้าขายสินค้า</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <div class="row">
      <div class="col-lg-12">
        <div class="card-body card-header btn-secondary active text-white">
          <h3> <span class="fas fa-file-alt"></span> <b> รายละเอียดใบเสร็จ</b> <span class="pull-right"></span></h3>
        </div>
        <div class="card card-body printableArea">
          <h3><b>รายละเอียดใบเสร็จ</b> <span class="pull-right"></span></h3>
          <hr>
          <div class="card-body row">
            <div class="col-lg-1"></div>
            <div class="col-lg-10 row">
              <div class="card-body col-lg-12">
                <h2> ชื่อใบจัดซื้อ : {{ order.order_Name }} <small></small></h2>
                <h3> รหัสใบจัดซื้อ : {{ order.id }} {{onGetStatsuSalesString(order.status)}} </h3>
                <h3> เจ้าหน้าที่จัดซื้อ :{{ order.memberId }}</h3>
                <h3> เวลาสั่งใบจัดซื้อ : {{ order.order_Time | date: 'medium' }} </h3>
                <h3 *ngIf="order.status == true"> เวลารับใบจัดซื้อลงระบบ :{{ order.orderInStore_Time | date: 'medium'}}
                  ({{ order.memberId }}) </h3>
                <h3> สถานะ : {{onGetStatsuSalesString(order.status)}} </h3>
              </div>
              <div class="card-body col-lg-12">
                <div class="table-responsive m-t-40" style="clear: both;">
                  <table class="table table-striped" style=" height: 350px; ">
                    <thead>
                      <tr>
                        <th>ลำดับ</th>
                        <th>รายการสินค้า</th>
                        <th>จำนวน</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of order.product_List; let i = index;">
                        <td>{{ i+1 }}</td>
                        <td><a [routerLink]="['/', AppUrl.Product, ProductUrl.DetailProduct, item.product_Id]">{{
                            item.product_Id
                            }}</a></td>
                        <td>{{ item.order_Count}} </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div *ngIf="userLogin.role 1" class="card-body col-lg-3">
                <button class="btn btn-lg btn-secondary" (click)="onAdjustOrder()" type="submit"> <span class="fas fa-angle-left"></span>
                  นำข้อมูลลงระบบ
                </button>
              </div>
              <div *ngIf="userLogin.role 1" class="card-body col-lg-2">
                <button class="btn btn-lg btn-secondary" type="submit"> <span class="fas fa-angle-left"></span>
                  ลบใบจัดซื้อ
                </button>
              </div>
              <div class="card-body col-lg-3">
                <button class="btn btn-lg btn-outline-secondary" type="submit"> <span class="fas fa-print"></span>
                  พิมพ์ใบเสร็จ
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-content>