<app-content>
  <div class="content-panel row" style="height: 500px">
    <div class="row">
      <div class="col-lg-3">
        <div class="col-lg-1"></div>
        <div class="col-lg-1">
          <br>
          <br>
          <img src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgdmlld0JveD0iMCAwIDE0MCAxNDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjwhLS0KU291cmNlIFVSTDogaG9sZGVyLmpzLzE0MHgxNDAKQ3JlYXRlZCB3aXRoIEhvbGRlci5qcyAyLjYuMC4KTGVhcm4gbW9yZSBhdCBodHRwOi8vaG9sZGVyanMuY29tCihjKSAyMDEyLTIwMTUgSXZhbiBNYWxvcGluc2t5IC0gaHR0cDovL2ltc2t5LmNvCi0tPjxkZWZzPjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+PCFbQ0RBVEFbI2hvbGRlcl8xNjYyMDFjN2E4NSB0ZXh0IHsgZmlsbDojQUFBQUFBO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1mYW1pbHk6QXJpYWwsIEhlbHZldGljYSwgT3BlbiBTYW5zLCBzYW5zLXNlcmlmLCBtb25vc3BhY2U7Zm9udC1zaXplOjEwcHQgfSBdXT48L3N0eWxlPjwvZGVmcz48ZyBpZD0iaG9sZGVyXzE2NjIwMWM3YTg1Ij48cmVjdCB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgZmlsbD0iI0VFRUVFRSIvPjxnPjx0ZXh0IHg9IjQ0LjA1NDY4NzUiIHk9Ijc0LjUiPjE0MHgxNDA8L3RleHQ+PC9nPjwvZz48L3N2Zz4="
            alt="">
          <br>
          <br>
        </div>
      </div>
<div class="col-lg-9" *ngIf="product">
        <div class="page-header">
          <h1>Name: {{ product.name }} <small></small></h1>
          <h3>Barcode: {{ product.barcode }} </h3>
          <h3>Barcode Custom: {{ product.barcode_Custom }}</h3>
        </div>
      </div>
    </div>
    <form class="form-group" [formGroup]="form" (submit)="onAdjustAmountProduct()">
      <div class="row col-lg-12">
        <div class="col-lg-3"></div>
        <div class="col-lg-3">
          <h3>จำนวนสินค้าเดิม : </h3>
        </div>
        <div class="col-lg-6">
          <h3>&nbsp;&nbsp; {{ product.amount_Product }} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ชิ้น </h3>
        </div>
        <div class="col-lg-3"></div>
        <div class="col-lg-3">
          <h3>ปรับจำนวนสินค้า : </h3>
        </div>
        <div class="col-lg-1">
          <h3>
            <input type="text" formControlName="amount_Product" class="form-control">
          </h3>
        </div>
        <div class="col-lg-1">
          <h3>
            ชิ้น
          </h3>
        </div>
      </div>
      <div class="log-lg-12 row">
        <div class="col-lg-3"></div>
        <div class="col-lg-1">
          <button type="submit" class="btn btn-default btn-lg">ปรับยอด</button>
        </div>
      </div>
    </form>
  </div>
</app-content>
