/* You can add global styles to this file, and also import other style files */
/* [data-notify="progressbar"] {
    color: blue;
}; */
.bs-datepicker {
  background-color: wheat;
  padding: 10%;
  width: 100%;
}
.content-panel {
  margin-top: 2%;
  padding-left: 5%;
  padding-right: 5%;
  height: 100%;
}
.content{
  padding: 1%;
}
.dropdown-menu {
  margin-left: 10px;
  width: 750px;
}