/* You can add global styles to this file, and also import other style files */
/* [data-notify="progressbar"] {
    color: blue;
}; */
@import 'ngx-bootstrap/datepicker/bs-datepicker.css';

/* .bs-datepicker-container {
  
} */

/* .theme-green .bs-datepicker-head{
  background-color: #777777;
} */

/* .content-panel {
  margin-top: 2%;
  padding-left: 5%;
  padding-right: 5%;
  height: 100%;
}
.content{
  padding: 1%;
}
.dropdown-menu {
  margin-left: 10px;
  width: 750px;
} */

.ng-invalid.ng-touched{
  border-color: orangered;
}

body {
  -webkit-print-color-adjust: exact;
}
#pointer{
  cursor: pointer;
}